.cost {
	@include adaptiv-value("padding-top", 120, 48);
	@include adaptiv-value("padding-bottom", 135, 40);
	&__container {
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		@include adaptiv-value("row-gap", 71, 40);
	}

	&__title {
		@include adaptiv-value("margin-bottom", 43, 4);
	}

	&__prices-block {
		flex: 0 0 75%;
		@include adaptiv-value("padding-right", 137, 0);
		@media (max-width: $md2+px) {
			flex-basis: 100%;
			padding-right: 0;
		}
	}

	&__price {
	}

	&__links {
		flex: 0 0 25%;
		@media (max-width: $md2+px) {
			order: 3;
			flex-basis: 40%;
		}
		@media (max-width: $md4+px) {
			flex-basis: 100%;
		}
	}

	&__descr-block {
		flex: 0 0 75%;
		@include adaptiv-value("padding-right", 137, 0);
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			flex-direction: column;
			flex-basis: 60%;
		}
		@media (max-width: $md4+px) {
			flex-basis: 100%;
		}
	}
}
.cost-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #000000;
	padding-right: 10px;
	@include adaptiv-value('padding-top', 33, 24);
	@include adaptiv-value('padding-bottom', 39, 24);

	@media (max-width: $md4+px) {
		flex-direction: column;
		align-items: start;
	}
	&__name {
		@include adaptiv-value("font-size", 20, 16);
		line-height: 1.1;
		@media (max-width: $md4+px) {
			margin-bottom: 10px;
		}
	}

	&__price {
		font-size: 24px;
		font-weight: 700;
	}
}
.cost-links {
	display: flex;
	flex-direction: column;
	&__list {
		flex-grow: 1;
		margin-bottom: 40px;
		@media (max-width: $md2+px) {
			flex-grow: 0;
		}
	}
	&__link {
		a {
			color: $secondary;
			@include adaptiv-value("font-size", 18, 16);
			line-height: 24px;
			border-bottom: 1px solid $secondary;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__special {
		.dreams-timesheet__link {
			color: black;
		}
	}
}
.cost-descr {
	flex: 0 0 45%;

	&:nth-child(1) {
		.cost-descr__title {
			color: rgb(66, 121, 118);
			&::before {
				content: url(../img/icons/mark.svg);
			}
		}
	}
	@media (max-width: $md2+px) {
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
	&__title {
		line-height: 24px;
		font-weight: 700;
		position: relative;
		@include adaptiv-value("padding-left", 35, 30);
		@include adaptiv-value("font-size", 24, 20);
		@include adaptiv-value("margin-bottom", 20, 16);
		&::before {
			content: url(../img/icons/rub.svg);
			width: 26px;
			height: 26px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&__list {
	}

	&__list-item {
		color: rgba(49, 49, 49, 1);
		font-size: 16px;
		padding-left: 15px;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0.44em;
			left: 0;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: rgb(198, 219, 215);
		}
	}
}
