.day6 {
	@include adaptiv-value("padding-bottom", 187, 103);
	background: linear-gradient(0, #000000 15%, rgba(0, 0, 0, 0.572235) 60.21%, rgba(0, 0, 0, 0) 88.82%);

	&__body{
		@include adaptiv-value('flex-basis', 550, 350);
		margin-right: 50px;
		@media (max-width: $md3+px) {
			margin-right: 0;
		}
	}

	&__addit {
		@include adaptiv-value('margin-top', 50, 40);
	}
}
.day6-addit {
	&__title {
		font-family: 'Montserrat';
		font-weight: 700;
		color: white;
		font-size: 20px;
		@include adaptiv-value('margin-bottom', 31, 16);
	}

	&__items {
	}

	&__item {
		display: flex;
		border-bottom: 2px solid $gray;
		align-items: center;
		padding: 16px 5px;
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
		}
	}

	&__name {
		color: white;
		flex: 0 0 45%;
		font-weight: 700;
		@media (max-width: $md4+px) {
			margin-bottom: 10px;
		}
	}

	&__descr {
		color: $gray;
		line-height: 1.4;
	}
}
