.header {
	@include adaptiv-value("margin-bottom", 88, 64);

	&__container {
		display: flex;
	}

	&__image {
		flex-grow: 1;
		img {
			width: 167px;
		}
	}

	&__body {
		display: flex;
		align-items: center;
		@media (max-width: $md2+px) {
			display: none;
		}
	}

	&__menu {
		display: flex;
		margin-right: 64px;
	}

	&__menu-icon {
	}

	&__menu-item {
		color: $primary;
		&:not(:last-child) {
			margin-right: 56px;
		}
	}

	&__btn {
		border: 1px $primary solid;
		border-radius: 5px;
		background-color: transparent;
		font-size: 16px;
		color: $primary;
		padding: 11px 32px;
	}

	&__md-menu {
		padding: 30px;
		padding-top: 104px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.header__menu {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 0;
			margin-bottom: 46px;
		}
		.header__menu-item {
			color: $black;
			font-size: 20px;
			margin-right: 0;
			&:not(:last-child) {
				margin-bottom: 56px;
			}
		}
		.header__btn {
			color: $black;
			border-color: $black;
			font-size: 20px;
		}
	}
}

.dreams {
	@include adaptiv-value("padding-top", 26, 23);
	@include adaptiv-value("padding-bottom", 48, 42);
	background: url(../img/dreams/bg.jpg) center / cover no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;

	&__container {
		display: flex;
		flex-grow: 1;
		@media (max-width: $md2+px) {
			display: block;
		}
	}

	&__body {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	&__offer {
		color: #fff;
		flex-grow: 1;
	}

	&__title {
		margin-bottom: 25px;
		@include adaptiv-value("font-size", 60, 44);
		line-height: 1;
		color: #fff;
	}

	&__label {
		margin-bottom: 40px;
		background-color: $secondary;
		border-radius: 16px;
		display: inline-block;
		@include adaptiv-value("font-size", 30, 18);
		@include adaptiv-value("padding", 24, 16);
		@include adaptiv-value("padding-left", 24, 8);
		@include adaptiv-value("padding-right", 24, 8);
	}

	&__subtitle {
		margin-bottom: 18px;
		width: 63%;
		line-height: calc(28 / 20);
		@include adaptiv-value("font-size", 20, 18);
	}

	&__timesheet {
		@media (max-width: $md2+px) {
			margin-bottom: 55px;
		}
	}

	&__socials {
		padding-bottom: 20px;
		a {
			&:not(:last-child) {
				margin-right: 24px;
			}
			img {
				height: 20px;
			}
		}
		@media (max-width: $md2+px) {
			position: absolute;
			bottom: 42px;
			right: 16px;
			padding-bottom: 0;
		}
	}

	&__slider {
		align-self: end;
	}
}

.dreams-timesheet {
	display: flex;
	align-items: center;

	&__link {
		color: white;
		text-decoration: underline;
		font-size: 18px;
		line-height: calc(25 / 18);
		margin-right: 18px;
	}

	&__arrow {
		width: 64px;
		height: 64px;
		line-height: 58px;
		font-size: 30px;
		font-weight: normal;
		transform: rotate(-45deg);
	}
}

.dreams-slider {
	right: 0;
	@media (max-width: $md2+px) {
		margin-bottom: 60px;
	}
}
