.footer {
	background-color: #212121;
	@include adaptiv-value("padding-top", 63, 48);
	* {
		color: $gray;
	}

	&__container {
	}

	&__grid {
		display: grid;
		grid-template-columns: 215px 1fr 1fr 243px;
		@media (max-width: $md1+px) {
			grid-template-columns: 0.9fr 1fr;
		}
		@media (max-width: $md3+px) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		&:not(:first-child) {
			padding-left: 41px;
		}
		&:not(:last-child) {
			border-right: 1px solid transparent;
			border-image: linear-gradient(0deg, transparent, rgb(77, 77, 77), transparent);
			border-image-slice: 1;
			padding-right: 41px;
		}

		&:nth-child(1) {
			@media (max-width: $md3+px) {
				border: none;
				margin-bottom: 48px;
			}
		}
		&:nth-child(2) {
			@media (max-width: $md1+px) {
				padding-right: 0;
				border: none;
				padding-bottom: 73px;
			}
			@media (max-width: $md3+px) {
				padding-left: 0;
				padding-bottom: 50px;
			}
			.footer__row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 15px;
				button {
					background-color: transparent;
					border: 1px solid white;
					border-radius: 6px;
					padding: 15px 30px;
				}
			}
		}
		&:nth-child(3) {
			@media (max-width: $md1+px) {
				padding-left: 0;
			}
			@media (max-width: $md3+px) {
				border: none;
				margin-bottom: 48px;
			}
			.footer__row {
				&:nth-child(1) {
					display: flex;
					margin-bottom: 45px;
				}
				&:nth-child(2) {
					p {
						color: white;
						font-weight: 600;
						margin-bottom: 15px;
					}
				}
			}
		}
		&:nth-child(4) {
			@media (max-width: $md3+px) {
				padding-left: 0;
			}
			.footer__row {
				&:nth-child(1) {
					margin-bottom: 34px;
					p {
						&:nth-child(1) {
							font-weight: 600;
							color: white;
							font-size: 20px;
							margin-bottom: 13px;
						}
					}
				}
				&:nth-child(2) {
					p {
						color: white;
						margin-bottom: 13px;
						padding-left: 24px;
						position: relative;
						&:before {
							content: url(../img/icons/letter.svg);
							position: absolute;
							left: 0;
							top: 2px;
						}
						&:nth-child(2) {
							&:before {
								content: url(../img/icons/map-label.svg);
							}
						}
					}
				}
			}
		}
	}

	&__logo {
		margin-bottom: 40px;
	}

	&__menu {
		li {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	&__socials {
		a{
			&:not(:last-child){
				margin-right: 20px;
			}
		}
	}

	&__row {
	}

	&__images-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 9px;
	}

	&__image {
		img {
			width: 100%;
		}
	}

	&__inst-img {
		flex: 0 0 63px;
		margin-right: 18px;
		position: relative;
		img {
			width: 100%;
		}
		&::after {
			content: url(../img/icons/play.svg);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__inst-body {
		p {
			&:nth-child(1) {
				color: white;
				font-weight: 600;
				line-height: 1.2;
				margin-bottom: 10px;
			}
		}
	}

	&__copyright {
		margin-top: 48px;
		border-top: 1px solid rgb(77, 77, 77);
		padding: 20px 4px;
	}
}
